



*{	margin: 0;
	padding: 0;
	font-family: 'PT Sans', sans-serif;
}




/* BODY*/
body { min-width: 1200px;}
div{
	display: block;
}





/* LAYOUT*/

.right{float: right;}
.left{float: left;}
.center{text-align: center;} 
.container{
	width: 960px;
	margin: 0 auto;
}






/* HEADER*/
.page-header{
	height: 75px;
	background-color: #ffcd34;
}
.page-header__logo{
	vertical-align: middle;
	padding-right: 15px;
}
.logo{
	text-decoration: none;
	color: #000;
	padding-top: 20px;	
}
.logo__name{
	vertical-align: middle;
	font-family: 'PT Sans', sans-serif;
	font-size: 24px;
	font-weight: normal;
}	
.logo__name span{
	font-weight: bold;
}






/* PAGE-NAV*/
.page-nav__item{
	display: inline-block;
	padding-top: 25px;
}
.page-nav__link{
	border: 0px solid #000;
	padding: 10px 30px;
	text-decoration: none;
	color: #735c17;
	font-size: 16px;
	font-family: 'PT Sans', sans-serif;
	font-weight: bold;
}
.page-nav__link:active{
	border: 1px solid #796e38;
	text-decoration: none;
	padding: 10px 30px;
	font-size: 16px;
	font-family: 'PT Sans', sans-serif;
	font-weight: bold;
	color: #000;
}
.page-nav__link:hover{
	border: 1px solid #bc9d36;
	color: #000;
}

.page-nav-item-call{
	text-align: center;
	background-color: #ffe184;
	padding: 10px 15px;
	box-sizing: border-box;
	font-weight: bold;
}
.page-nav-item-call:active{
	background-color: #ffecb2;
}
.page-nav-item-call:hover{
	background-color: #f6bf16;
}
a.nav{
	text-decoration: none;
	color: #000;
}







/* MAIN*/
.gradient_yellow-black{
	height: 14px;
background: linear-gradient(135deg, #ffcd34 35%, #000 35%, #000 65%, #ffcd34 65%);
background-size: 35px 14px;
background-repeat: repeat-x;
}
.black-stripe{
	background-color: #000;
	height: 10px;
}
.promo{
	height: 460px;
	background-image: url(../img/index_promo.jpg);
	background-repeat: no-repeat;
	background-position: center;
	text-align: center;
	background-size: cover;
	background-repeat: no-repeat;
}
.promo_motto{
	font-family: 'PT Sans', sans-serif;
	font-size: 44px;
	font-weight: bold;
	padding-top: 120px;
	color: #fff;
	text-transform: uppercase;
}
.promo_info{
	padding: 0 0 35px 0;
	width: 615px;
	margin: 0 auto;
	font-size: 20px;
	font-family: 'PT Sans', sans-serif;
	color: #fff;
	font-weight: normal;
}
.promo_btn{
	font-size: 18px;
	font-weight: bold;
	text-decoration: none;
	color: #fff;
	border: 2px solid #ffcd34;
	padding: 15px 20px;
}
.promo_btn:active{
	border: 2px solid #ffd966;
}
.promo_btn:hover{
	border: 2px solid #ffe390;
}
.arrow{
	padding: 0 15px;
}

.consult{
	height: 175px;
	background-color: #202e3b;
	padding-top: 30px;
}
.consult_title{
	color: #ffcd34;
	font-family: 'PT Sans', sans-serif;
	font-weight: normal;
	font-size: 24px;
	padding-bottom: 30px;
}
.consult_form input{
	border: 1px solid #ffcd34;
	background-color: #202e3b;
	padding: 15px 20px;
	font-family: 'PT Sans', sans-serif;
	font-weight: bold;
	font-size: 16px;
}
.consult_form input:last-child{
	border: 1px solid #ffcd34;
	background-color: #ffcd34;
	padding: 13px 20px;
	color: #202e3b;
	font-size: 18px;
}

.advantages{
	height: 125px;
	background-color: #fff;
	margin: 0 auto;
}
.advantages-item{
	width: 225px;
	display: inline-block;
	text-align: center;
	vertical-align: text-bottom;
}
.advantages-item__img{
	padding: 45px 0 15px;
}
.advantages_text{
	width: 160px;
	font-size: 13px;
	font-weight: normal;
	font-family: 'PT Sans', sans-serif;
	text-align: left;
	padding-top: 25px;
}

.special-offers{
	height: 400px;
	background-color: #f3f3f3;
}

.title_special-offers{
	font-size: 18px;
	font-family: 'PT Sans', sans-serif;
	font-weight: bold;
	padding-top: 45px;
}
.menu_special-offers{
	list-style-type: none;
	padding-left: 0;
	line-height: 35px;
}
.menu_special-offers__link{
	font-family: 'PT Sans', sans-serif;
	font-size: 16px;
	font-weight: normal;
	text-decoration: underline;
	color: #202e3b;
	padding-top: 25px;
}
.special-offers__table{
	padding-left: 25px;
}
.table_special-offers__title{
	font-weight: bold;
	font-size: 26px;
	padding-top: 40px;
}
.special-offers_tbody{
	padding-top: 35px;
}
.special-offers_tbody tr:nth-child(odd){
	background-color: #fff;
}
.special-offers_tbody tr:first-child{
	background-color: #dfdfdf;
}
.facts-and-reviews{
	height: 435px;
	background-color: #202e3b;
}
.special-offers_tbody td{
	padding: 10px 100px 10px 10px;
	border: 0px solid #000;
}
.title_numbers{
	font-size: 26px;
	font-weight: normal;
	padding: 40px 0;
	color: #fff;
}
.title_numbers span{
	font-weight: bold;
}
.number span{
	color: #f1b132;
	font-size: 38px;
	font-weight: bold;
	padding-right: 20px;
}
.number{
	color: #9e9e9e;
	font-size: 18px;
	font-weight: bold;
}
.reviews{
	width: 610px;
}
.title_reviews{
	font-size: 26px;
	font-weight: bold;
	color: #fff;
	padding: 40px 0;
}
.first-review{
	display: inline;
	width: 610px;
	text-align: left;
	vertical-align: middle;
}
.clients{
	padding-left: 25px;
	font-weight: normal;
	font-size: 18px;
	font-style: italic;
	color: #fff;
	width: 450px;
}
.person{
	padding: 10px 0 25px 25px;
	font-weight: bold;
	font-size: 18px;
	color: #f1b132;
}
.second-review{
	display: inline-block;
	width: 610px;
	text-align: left;
}

.subheader_portfolio{
	height: 105px;
	background-image: url(../img/subheader_portfolio.jpg);
	background-position: center;
	text-align: center;
	background-size: cover;
	background-repeat: no-repeat;
}
.subheader_portfolio__title{
	color: #ffcd34;
	font-size: 24px;
	font-weight: normal;
	padding-top: 35px;
}
.subheader_portfolio__item{
	padding-top: 40px;
 	display: inline-block;
}
.subheader_portfolio__link{
 	text-decoration: underline;
 	color: #fff;
 	padding: 0 15px;
}

.wood{
	height: 500px;
	background-image: url(../img/wood_portfolio.jpg);
	background-position: center;
	text-align: center;
	background-size: cover;
	background-repeat: no-repeat;
}
.apartment{
	height: 500px;
	background-image: url(../img/apartment_portfolio.jpg);
	background-position: center;
	text-align: center;
	background-size: cover;
	background-repeat: no-repeat;
}
.private{
	height: 500px;
	background-image: url(../img/private_portfolio.jpg);
	background-position: center;
	text-align: center;
	background-size: cover;
	background-repeat: no-repeat;
}

.house-type__text{
	height: 245px;
	width: 325px;
	background-color: #fff;
	padding: 30px;
	text-align: left;
	box-sizing: border-box;
	top: 100px;
	left: 160px;
	position: relative;
}
.houses__title{
	font-size: 20px;
	font-weight: bold;
	color: #202e3b;
}
.houses_description{
	padding-top: 15px;
	padding-bottom: 25px;
	font-size: 14px;
	font-weight: normal;
	width: 250px;
	color: #3e4a55;
}
.details{
	background-color: #ffcd34;
	text-decoration: none;
	color: #202e3b;
	padding: 13px 17px;
	font-weight: bold;
}
.details img{
	padding-left: 5px;
}


/*CATALOG*/


.subheader_technics{
	position: relative;
	padding-top: 30px;
	height: 190px;
	background-image: url(../img/subheader_portfolio.jpg);
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}
.subheader_technics__title{
	color: #ffcd34;
	font-size: 26px;
	font-weight: normal;
	padding-bottom: 20px;
}
.subheader_technics__text{
	font-size: 16px;
	line-height: 20px;
	color: #fff;
	width: 600px;
}
.subheader_technics__nav-call{
	position: absolute;
	top: 42px;
	right: 195px;
	text-decoration: none;
	font-weight: bold;
	font-size: 18px;
	color: #000;
	background-color: #ffcd34;
	padding: 15px 21px;
	display: block;
}

.nav-call__text{
	display: block;
	position: absolute;
	top: 103px;
	right: 228px;
	width: 210px;
	text-align: left;
	font-weight: normal;
	font-size: 16px;
	color: #fff;
}


.technic-nav{
 display: inline-block;
}
.technic-nav__list{
	list-style-type: none;
	padding-right: 140px;
}
.technic-nav__img{
	padding: 15px;
}
.subtitle{
	padding: 15px 0 30px 0;
}
.technic-nav__item{
}
.technic-nav__link{
	text-decoration: none;
	color: #353535;
	font-size: 16px;
	line-height: 38px;
}
.catalog-list{
	padding-top: 30px;
	width: 640px;
}
.catalog{
	height: 965px;
	background-color: #f3f3f3;
}
.product-card{
	display: inline-block;
	height: 400px;
	width: 300px;
	background-color: #fff;
	box-sizing: border-box;
	margin-right: 15px;
	text-align: center;
	margin-bottom: 15px;
}
.product-card:nth-child(odd){
	margin-left: 0;
}
.product-card__name{
	font-weight: bold;
	font-size: 21px;
	padding: 25px 0 0 30px;
	text-align: left;
}
.product-card__pic{
	margin: 35px;
	margin-bottom: 25px;
}
.product-card__price{
	padding-bottom: 25px;
	font-weight: bold;
	font-size: 22px;
	text-align: left;
	padding-left: 40px;
}
.product-card__month{
	font-size: 18px;
}
.old-price{
	text-decoration: line-through;
	color: #d12222;
	font-weight: bold;
	font-size: 22px;
	padding: 15px;
}
.btn-rent{
	font-size: 17px;
	font-weight: normal;
	color: #fff;
	background-color: #f3c331;
	padding: 10px;
	text-decoration: none;
}
.btn-details{
	font-size: 17px;
	font-weight: normal;
	color: #fff;
	background-color: #354b60;
	padding: 10px;
	text-decoration: none;	
}
.pages{
	display: inline-block;
	text-decoration: none;
}
.pagination li{
	padding: 2px 7px;
	display: inline;
	font-size: 16px;
}
.pagination a{
	text-decoration: none;
	color: #000;
}
.pagination li:hover{
	background-color: #354b60;
	border-radius: 3px;
	color: #fff;
}
.sales{
	height: 535px;
	background-image: url(../img/sales_catalog.jpg);
	background-position: center;
	text-align: center;
	background-size: cover;
	background-repeat: no-repeat;
}
.sales__title{
	font-weight: bold;
	font-size: 26px;
	line-height: 28px;
	color: #fff;
	text-align: left;
	padding: 40px 0 30px 0;
}



.subheader_contacts{
	position: relative;
	height: 105px;
	background-image: url(../img/subheader_contacts.jpg);
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	vertical-align: top;
}

.subheader_contacts__title{
	color: #ffcd34;
	font-weight: normal;
	font-size: 26px;
	padding-top: 40px;
	padding-right: 16px;
}
.subheader_contacts__text{
	padding-top: 48px;
	color: #fff;
	font-weight: normal;
	font-size: 16px;
}
.nav-call{
	position: absolute;
	content: "";
	top: 30px;
	right: 195px;
	text-decoration: none;
	font-weight: bold;
	font-size: 18px;
	color: #000;
	background-color: #ffcd34;
	padding: 15px 21px;
}

.location{
	height: 486px;
	display: block;
	background-color: #f3f3f3;
}
.location_map{
	height: 395px;
	width: 620px;
	padding-top: 40px;
	padding-right: 22px;
	float: left;
}
.text-left{
	float: right;
	width: 300px;
	text-align: left;
}
.telephone{
	padding-top: 40px;
	display: block;
	font-weight: bold;
	font-size: 18px;
	padding-bottom: 22px;
}
.mail{
	display: block;
	font-weight: bold;
	font-size: 18px;
	padding-bottom: 25px;
}
.contacts__consult{
	width: 250px;
	display: block;
	float: left;
	font-size: 16px;
	font-weight: normal;
	padding-bottom: 16px;
}
.contacts_order input{
	display: block;
	padding: 13px;
	margin-bottom: 10px;
	width: 280px;
}
.contacts_order{
	float: right;
}
.contacts_order__description{
	height: 95px;
}
.contacts_order-btn{
	font-weight: normal;
	font-size: 16px;
	background-color: #354b60;
	padding: 17px 57px;	
	margin-top: 18px;
}
.words{
	height: 425px;
}
.words__title{
	font-weight: bold;
	font-size: 26px;
	color: #202e3b;
	padding-bottom: 32px;
	padding-top: 37px;
}
.portfolio_clients{
	padding-right: 25px;
	display: inline-block;
	width: 215px;
	text-align: center;
}
.portfolio_clients:last-child{
	padding-right: 0;
}
.clients__speech{
	padding-top: 22px;
	font-size: 14px;
	font-weight: normal;
	color: #202e3b;
}
.clients__speech-name{
	color: #202e3b;
	font-weight: bold;
	font-size: 14px;
	padding-top: 13px;
}
/* FOOTER*/

.page-footer{
	height: 75px;
	background-color: #202e3b;
}

.page-footer__logo{
	vertical-align: middle;
	padding-right: 15px;
}
.logo{
	text-decoration: none;
	color: #000;	
}
.page-footer__logo_name{
	vertical-align: middle;
	font-family: 'PT Sans', sans-serif;
	font-size: 24px;
	font-weight: normal;
	color: #ffcd34;
}	
.page-footer__logo_name span{
	font-weight: bold;
}
.white{
	color: #f4f4f4;
}

footer .page-nav ul li a{
	color: #fff;
}
footer .nav .call{
	border: 0px solid #000;
	background-color: #202e3b;
	color: #ffcd34;	
}
footer .page-nav-item-call{
	background-color: #202e3b;
	color: #ffcd34;
}
footer .page-nav__link:active{
	color: #fff;
}
footer .page-nav__link:hover{
	color: #fff;
}
#color{
	color: #ffcd34;
}