html { 
width: 960px;
margin: 0;
padding: 0;
} 

body { 


} 


/*******************************************************************
LAYOUT
*******************************************************************/

div { 
display: block;

} 
.page-header{
	height: 100px;
	vertical-align: middle;
}
.container { 
	background-color: green;
	box-sizing: border-box;
	margin: 0 auto;
	padding: 0 10px;
	overflow: hidden;
} 
.page-header>.container{
	margin: 0 auto;
	padding: 0 10px;
}
.page-header__logo{
	padding: 20px 20px 20px 0;
	display: inline-block;
	vertical-align: middle;
	margin-right: 10px;
}

.logo__name{
	text-decoration: none;
	color: #000;
	padding: 18px 18px 18px 5px;
	font-size: 20px ;
}
.logo__name>span{
	font-weight: bold;
}
.page-nav{
	margin: 0;
	padding: 0;
	display: block;

}
.page-nav__item { 
display: inline-block;
font-size: 16px;
vertical-align: middle;
} 
a.page-nav__link{
	padding: 10px 20px;
	display: inline-block;
	text-decoration: none;}


.right { float: right;} 
.left { float: left;} 
.center { text-align: center;} 
.promo { 
padding: 125px 0 130px;
margin: 0 auto;
} 
.promo_motto{
	font-size: 30px;
	text-transform: uppercase;
}
.promo_info{
	font-size: 20px;
	margin: 0 auto 35px;
	width: 640px;
}
.promo_btn{
	padding: 7px 75px 7px 12px;
	border: 2px solid #000;
	text-decoration: none;
	font-weight: bold;
	display: inline-block;
}

.cosult>.container{
	height: 200px;
	margin: 40px;
}
.consult_title { 
	padding-left: 10px;
	font-size: 20px;
	font-weight: bold;
	margin: 30px 0 30px;
} 
.consult_form>input{
	border: 2px solid #000;
	padding: 10px;
}
.
.advantages.column-fourth { 
	display: inline-block;
	
} 


.advantages>.container { 
	margin: 0 auto;
	padding: 0 10px;
} 

.column-fourth { 
	padding: 10px;
	width: 22%;
	display: block;
} 



} 

.advantages>img { 
margin-right: 6px;
display: inline-block;
vertical-align: middle;
} 


.advantages>p { 
	width: 74%;
	font-size: 13px;
	display: inline-block;
	vertical-align: middle;
	margin: 0;
	padding: 0;
} 

.technics_specail-offers { 
width: 25%;
} 
.title_special-offers{
	font-weight: bold;
	font-size: 26px;
	margin-bottom: 26px;

}
.menu_special-offers>li{
	margin-bottom: 19px;
	display: list-item;
	list-style-type: none;
}
.menu_special-offers__link{
	text-decoration:underline;
	color: #000;
}
.special-offers__table{
width: 60%;
}
table.special-offers { 
	border-spacing: 2px;
	font-size: 16px;
} 

.title-table_special-offers{
	font-size: 26px;
	margin-bottom: 25px;
}

.facts-and-reviews { 

padding: 25px 0 15px;

} 

.column-third { 
width: 33.3%;
display: block;

} 

.title_numbers { 
	margin-bottom: 20px;
	font-size: 26px;
	font-weight: bold;

} 

.facts-and-rewiews { 


} 
.number{
	font-weight: bold;
	font-size: 38px;
	margin-right: 10px;
}

.column_two-third { 
width: 66%;
} 
.title_reviews{
	font-size: 26px;
	margin-bottom: 30px;
	font-weight: bold;
}

.first-review { 
	margin-bottom: 35px;
	display: block;

} 
.first-review>img{
	display: inline-block;
	margin-right: 20px;
	border: 3px solid #000;
}
.second-review>img{
	display: inline-block;
	margin-right: 20px;
	border: 3px solid #000;

} 

.second-review { 
	margin-bottom: 35px;
	display: block;

} 
blockquote{
	width: 75%;
	font-size: 18px;
	vertical-align: top;
	display: inline-block;
}
cite{font-weight: bold;}
.map { 


} 

.logo { 


} 



